*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: orange;
    margin: 0;
    height: 100%;
}

/* --- GLOBAL --- */
.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

/* --- PAGE PARENT --- */
.page.parent {
    height: 100%;
    justify-content: space-between;
}

/* --- SECTIONS --- */
/* -- top */

/* -- bottom */
.section.bottom > .parent {
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

/* ~ controls ~ */
.controls.parent {
    padding: 1rem 0;
}

.buttons.container {
    display: flex;
    justify-content: space-evenly;
    gap: 0.333rem;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    min-width: 25px;
    min-height: 25px;
    background-color: transparent;
    display: inline-flex;
}

svg {
    position: relative;
    min-height: 25px;
    min-width: 25px;
}

/* ~ piano ~ */
.piano.parent {
    text-align: center;
    width: 100vw;
}

.piano.container {
    min-width: 34em;
    position: relative;
}

.piano > * {
    position: relative;
    float: left;
}

.piano > .white {
    height: 16em;
    width: 4em;
    z-index: 1;
    background-color: #FFF;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
}

.piano :nth-child(1),
.piano :nth-child(6),
.piano :nth-child(13)  {
    margin-right: -0.5em;
}

.piano :nth-child(3),
.piano :nth-child(8),
.piano :nth-child(10),
.piano :nth-child(12)   {
    margin: 0 -0.5em;
}

.piano :nth-child(5),
.piano :nth-child(15)  {
    margin-left: -0.5em;
}

.black {
    height: 8em;
    width: 2em;
    margin: 0 0 0 -1em;
    z-index: 2;
    background-color: #777;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    transform: translateX(0.5em);
}


/* ----- KNOBS ----- */
.control.container {
    width: 50%;
    height: 5rem;
    margin: 0 auto;
}

.control.container::before {
    background-color: linear-gradient(
        0deg, #525252 0%, #373737 100%
    );
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0px -20px 20px #757575,
                   0px 20px 35px #111111,
                   inset 0px 5px 6px #979797,
                   inset 0px -5px 6px #242424;
}

.control.container::before, .knob {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.knob::before,
.knob::after,
.control.container::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.knob::before {
    top: 15px;
    left: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #349BEB;
}

.knob::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #FFF;
    width: 130%;
    height: 130%;
    box-shadow: 0px 0px 10px #349BEB,
                inset 0px 0px 10px #349BEB;
}